<div class="form-group">
    <label for="{{rootId}}-title">{{localize "PF2E.Actor.Party.CheckPrompt.PromptTitle"}}</label>
    <div class="form-fields">
        <input type="text" id="{{rootId}}-title" name="title" />
    </div>
</div>
